@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&display=swap');

::-webkit-input-placeholder {text-align: center;}
:active::-webkit-input-placeholder {text-align: center; color: white;}
:hover::-webkit-input-placeholder {text-align: center; color: white;}
:-moz-placeholder {text-align: center;}
:hover::-moz-placeholder {text-align: center; color: white;}
:active::-moz-placeholder {text-align: center; color: white;}
::-moz-placeholder {text-align: center;}
:-ms-input-placeholder {text-align: center;}

    html{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        background-color: #ffeeee;
        color: white;
        padding: 10px;
   
    }
    header{
        background-color: #234;
        padding: 10px;
  
        
    }
    a{
        text-decoration: none;
        font-family: 'Poppins';
        color: tan;
    }
    a:hover{
        color: white;
    }
    section{
        background-color: #275864;
        border-top: 20px solid black;
        padding: 20px 30px;
        margin-bottom: 40px;
        border-radius: 0 0 20px 20px;
    }
    div{
        text-align: center;
    }
    h1{
        font-weight: 900;

    }
    h2{ 
        
        padding-top: 20px; 
        font-weight: 900;
    }
    label{
        padding-top: 20px;
        font-size: 18px;
        font-weight: 900;
    }
    input{
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 3px;
        width: 160px; 
    }
    input:hover{
        background-color: #275864;
    }
    input:hover::after{
        background-color: white;
    }
    input:active{
        text-align: center;
    }
    input:visited{
        text-align: center;
    }
    input:focus{
        text-align: center;
        background-color: white;
    }
    input:focus::after{
        text-align: center;
        background-color: white;
    }
    button{
       
       font-size: 28px;
        padding: 20px;
        width: 300px;
        background-color: #275864;
        border-radius: 10px;
        color: white;
        margin: 20px;
    }
    button:hover{
        background-color: #323;
        transition: ease .5s;
    }
    button:active{
        font-size: 15px;
        transition: ease .2s;
  
    }
    canvas{
        background-color: white;
 
        padding-bottom: 4%;
    }
    canvas.canvasone{
        visibility: hidden;
    }
    canvas.canvastwo{
        visibility: hidden;
    }
    div.charty{
        margin: 4%;
    }
    .hoverbox{
		position: relative;
		overflow: hidden;
        margin: 2% 10%;
	}
    div{
        margin: 0 auto;
    }
	.hover-overlay{
        padding: 18px 10px;
		width: 100%;
		height: 100px;
		background-color: #275864;
        
		position: absolute;
		text-align:center;
	}
	.hover-overlay h3{
		padding: 0 10px;
        text-align: center;
	}
    table{
        width: 70%;
        padding-bottom: 30px;
        margin: 0 auto;
        background-color: #275864;
        transition: ease 1s;
    }
    th{
        font-size: 18px;
        width: 30px;
        color: #bbb;
        border-left: 1px solid tan;
        padding: 0 10px;
    }
    th.nothing{
        visibility: hidden;
    }

    td:first-child~td{
        font-size: 18px;
        padding: 8px;
        margin: 20px 0;
        color: #bbb;
    }
    td:hover:first-child~td{
        color: #fff;
        transition: ease 1s;
    }
    td:first-child~td{
        font-family: verdana;
    }
    form{
        text-align: center; 
  
    }
    p{
        line-height: 1;
    }
    p{
        font-family: 'Poppins', 'san serif';
        line-height: 1;
        font-size: 24px;
        padding-bottom: 10px;
    }
    h3{
        font-family: 'Roboto', 'san serif';
    }
    footer{
        background-color: black;
  
        margin: 10px 0;
        padding: 100px 50px;
        font-size: 22px;
    }

